.container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 3fr 3.5rem;

    grid-template-areas:
        "title"
        "messages"
        "input";

    gap: 0.1rem;
    width: 100%;
    height: 100%;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4.5px );
    border-radius: 0.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.message_container {
    grid-area: messages;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}