.container {
    margin: 0.15rem 0;
    border-style: none none solid none;
    border-color: rgba( 255, 255, 255, 0.18 );
}
.container:hover {

}

.container .sender {
    font-weight: bold;
    text-decoration: none;
    color: #fff;   
}

.container .message {
    font-weight: normal;
    text-decoration: none;
    color: #fff;
}